/* --------------- Form */

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  margin-bottom: 12px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form__item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

.form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01;

  &::placeholder {
    color: var(--placeholder-color);
  }
}

.form__input {
  margin: 0;
  padding: 12px 42px;

  cursor: pointer;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border;
  @extend %transition-data;

  &:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--accent-color);
  }
}

.form__thumb {
  position: absolute;
  bottom: 11px;
  left: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  color: var(--title-text-color);

  transition-property: color;
  @extend %transition-data;

  .form__item:focus-within & {
    color: var(--accent-color);
  }
}

.form__icon {
  display: inline-block;
  fill: currentColor;
}

.form__textarea {
  padding-right: 16px;
  padding-left: 16px;
  height: 120px;
  resize: none;
}

/* END Form */
