// pattern for accent buttons width 200px
/* --------------- Button */
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;
  color: var(--twin-accent-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: color, background-color;
  @extend %transition-data;

  &:hover,
  &:focus {
    background-color: var(--twin-accent-color);
    color: var(--accent-color);
  }
}

/* END Button */
