/* --------------- For all Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  outline: 1px solid grey;

  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.section--no-padding-top {
  padding-top: 0;
}

.section--other-background {
  margin-bottom: 0;

  background-color: var(--second-bg-color);
}

/* END For all Sections */
