/* --------------- Subscription */

.subscription {
  margin-left: 93px;
}

.subscription__row {
  display: flex;
}

.subscription__input {
  width: 353px;
  height: 50px;
  margin-right: 12px;

  padding-left: 16px;

  color: var(--light-text-color);
  background-color: var(--dark-bg-color);
  border: 1px solid var(--subscr-border-color);
  border-radius: 4px;

  transition-property: border;
  @extend %transition-data;

  &:focus {
    border: 1px solid var(--accent-color);
    outline: 1px solid var(--accent-color);
  }
}

/* subscription button */

.button__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;
  padding: 0;

  fill: var(--twin-accent-color);

  transition-property: fill;
  @extend %transition-data;

  .button:hover &,
  .button:focus & {
    fill: var(--accent-color);
  }
}

/* END Subscription */
