/* --------------- Header Contacts */

.header-contacts {
  @extend %header-menu;
}

.header-contacts__item {
  @extend %header-menu__item;
}

.header-contacts__link {
  @extend %header-menu__link;

  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.header-contacts__icon {
  margin-right: 10px;
}

/* END Header Contacts */
