/* --------------- Page-Header */

.page-header {
  // position: fixed;
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 60px;
}

/* END Page-Header */
