/* --------------- Site-nav */

.site-nav {
  margin-left: 93px;
  margin-right: auto;
  @extend %header-menu;
}

.site-nav__item {
  @extend %header-menu__item;
}
.site-nav__link {
  @extend %header-menu__link;

  display: inline-block;

  color: var(--title-text-color);
}

.site-nav__link--current {
  position: relative;

  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;

    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 2px;
  }
}

/* END Site-nav */
