/* --------------- Placeholders */

%transition-data {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%header-menu {
  display: flex;
  align-items: center;
}

%header-menu__item {
  display: block;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

%header-menu__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color, fill;
  @extend %transition-data;

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

/* END Placeholders */
