:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --light-text-color: #ffffff;
  --hero-title-color: #ffffff;

  --main-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;

  --accent-color: #2196f3;
  --twin-accent-color: #ffffff;

  --logo-color: #000000;

  --address-contact-color: rgba(255, 255, 255, 0.6);

  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);

  --label-doing-bg-color: rgba(47, 48, 58, 0.8);

  --portfolio-overlay-text-color: #ffffff;
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);

  --backdrop-color: rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);

  --subscr-border-color: rgba(255, 255, 255, 0.3);
  --close-border-color: rgba(0, 0, 0, 0.1);

  --item-gap: 30px;
}
