/* --------------- Features */

.features {
  display: flex;
  margin-left: calc(-1 * var(--item-gap));
}

.features__item {
  flex-basis: calc(100% / 4 - var(--item-gap));
  margin-left: var(--item-gap);
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;

  background-color: var(--second-bg-color);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features__description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}

/* END Features */
